<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add a New Event</h1>
        <form action="/" method="POST">
            <label class="item-label" for="title">Title</label>
            <input class="item-input" type="text" name="title" id="title"/><br>
            <label class="item-label" for="description">Description</label>
            <textarea class="description-box" name="description" id="description"></textarea><br>
            <label class="item-label" for="image">Image URL</label>
            <input class="item-input" type="text" name="image" id="image" /><br>
            <label class="item-label" for="link">Link to Original Source</label>
            <input class="item-input" type="text" name="link" id="link" /><br>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
            </button>
          </form>
        </div> 
</body>
</html>