<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
        <nav>
                <% include ./partials/nav.ejs %>
        </nav>
    <div class="container">
        <h1>Add a New Event</h1>
          <form action="/" id="input" method="POST">
                <div class="form-group">
                        <label for="title">Event</label>
                        <input type="text" class="form-control" name="title" id="title" >
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="date">Date</label>
                        <input type="text" class="form-control" name="date" id="date">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="time">Time</label>
                            <input type="text" class="form-control" name="time" id="time" >
                        </div>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="location" id="location">
                </div>
                <div class="conversion-link">
                    <a href="https://www.latlong.net/convert-address-to-lat-long.html" target="_blank"> Get latitude and longitude coordinates for your event so a marker will appear on the map</a>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="lat_in">Latitude</label>
                            <input type="text" class="form-control" name="lat_in" id="lat_in">
                        </div>
                        <div class="form-group col-md-6">
                                <label for="lng_in">Longitude</label>
                                <input type="text" class="form-control" name="lng_in" id="lng_in">
                        </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Details</label>
                    <textarea type="textarea" class="form-control" name="details" id="details"></textarea>
                </div>
                <div class="form-actions">
                    <center>
                        <button type="submit" class="btn btn-outline-dark" name="action">Send</button>     
                    </center>
                </div>
            </form>
        </div> 
</body>
</html>